<!DOCTYPE html>
<html>

<head>
    <title>about</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-containt">
        {{>header}}
        <img class="potrait" src="img/robot.jpeg" alt="">
    </div>
    {{>footer}}
</body>

</html>